.topNav {
    min-height: 51px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 515px) {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    a {
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        text-transform: uppercase;
        padding: 18px;
        display: block;
        text-decoration: none;

        &:hover {
            border-bottom: 3px solid #ef5b70;
        }

        &:not(:last-child) {
            margin-right: 46px;
        }
    }
}