footer {
    min-height: 460px;
    padding: 110px 0 90px 0;

    .container {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;

        // @media (max-width: 500px) {
        //     flex-wrap: nowrap;
        //     flex-direction: column;
        //     justify-content: flex-start;
        // }
        display: grid;
        gap: 30px;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1200px) {
            grid-template-columns: 3fr repeat(3, 1fr);
        }
    }

    .footerBrandWrap {
        // max-width: 427px;

        // @media (max-width: 991px) {
        //     min-width: 100%;
        // }

        @media (min-width: 768px) and (max-width: 1199px) {
            grid-column: 1 / -1;
        }
    }

    .footerText1 {
        margin-top: 41px;
        margin-bottom: 33px;
    }

    .footerText1,
    .footerText2 {
        color: #898989;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.35px;
    }

    h3 {
        color: $mainColor;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 45px;

        @media (max-width: 991px) {
            // margin-top: 30px;
            margin-bottom: 0;
        }
    }

    nav {
        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 2.63;
            letter-spacing: 0.4px;
            color: #898989;
            display: block;

            &:hover {
                color: #898989;
            }
        }
    }
}